body{
	background-image:linear-gradient(to right,rgb(7, 143, 46),rgb(125, 255, 242),rgb(223, 230, 21));
}
.maintitle{
	font-family:bitter;
	text-shadow: 3px 3px 3px rgb(255, 107, 102);
}
a{
	text-decoration:none;
	font-family:Archivo Black;
	color:white;
	background-color:black;
	padding:5px 65px 5px 65px;
}
.link:hover{
	background-color:white;
	color:black;
}
#titleimage{
	padding-top:10px;
}
.subhead{
	font-family: Paytone One;
	font-size: 36px;
}
.pagecontent{
	font-family: lora;
	font-size: 20px;
}



.col1{
	float:left;
	width:100%;
	text-align:center;
}
.rol1{
	float:left;
	width:50%;
	text-align:left;
}
.col2{
	float:left;
	width:100%;
	text-align:center;
}
.rol2{
	float:left;
	width:33%;
	text-align:left;
}
.col3{
	float:left;
	width:100%;
	text-align:center;
}
.rol3{
	float:left;
	width:20%;
	text-align:center;
}
.version{
	box-shadow: 3px 3px 3px lightblue;
}



.question{
	font-family:SUSE Mono;
	font-size:25px;
	color:darkred;
}
.coll{
	float:left;
	width:100%;
	text-align:left;
}
.roll{
	float:left;
	width:50%;
	text-align:left;
}
.snduniq{
	font-family: lora;
	font-size: 20px;
	font-style:italic;
	font-weight:bold;
}



#upgradevideo{
	padding-top:10px;
}
#unique1{
	font-style:italic;
	font-weight:bold;
}
#unique2{
	font-family: lora;
	font-size: 36px;
	font-style:italic;
	font-weight:bold;
}
.col4{
	float:left;
	width:100%;
	text-align:center;
}
.rol4{
	float:left;
	width:50%;
	text-align:left;
}
.col5{
	float:left;
	width:100%;
	text-align:center;
}
.rol5{
	float:left;
	width:20%;
	text-align:center;
}
.fthuniq{
	font-family: lora;
	font-size: 20px;
	font-weight:bold;
}
.Dembélé{
	box-shadow:3px 3px 10px green;
}



.col6{
	float:left;
	width:100%;
	text-align:center;
}
.rol6{
	float:left;
	width:20%;
	text-align:left;
}



.col7{
	float:left;
	width:100%;
	text-align:center;
}
.rol7{
	float:left;
	width:50%;
	text-align:left;
}
.col8{
	float:left;
	width:100%;
	text-align:center;
}
.rol8{
	float:left;
	width:33%;
	text-align:left;
}
.col9{
	float:left;
	width:100%;
	text-align:center;
}
.rol9{
	float:left;
	width:50%;
	text-align:left;
}